<ion-view>
    <ion-header-bar class="bar-assertive ">
        <div class="live-tab">
            <a href="#/tab/lives">
                视频
            </a>
            <a href="#/tab/video" class="active">
                直播
            </a>
        </div>

    </ion-header-bar>

    <ion-content class="video-page ">
        <div class="banner" ng-click="videoPlay()">
            <img src="img/videonew.png" alt="">
            <p>【开学季】日本留学生到中国</p>
        </div>
        <div class="forcast">
            <div class="tit">直播预告<span>6场</span></div>
            <div class="roll">
                <span class="times">今 16:00</span>
                杰伦蔡依林歌里的圣地 布格拉
            </div>

        </div>
        <div class="shares">
            <div class="tits">
               【股市大直播】主力思路曝光 A股即将变盘
            </div>
            <img src="img/gushi.png" alt="股市">
            <div class="info">
                <span>网易原创</span>
                <div class="right-info">
                    <span>21.6万人参与</span>
                    <a href="#">正在直播</a>
                    <i class="icon"></i>
                </div>
            </div>
        </div>
        <div class="shares">
            <div class="tits">
                【股市大直播】主力思路曝光 A股即将变盘
            </div>
            <img src="img/gushi.png" alt="股市">
            <div class="info">
                <span>网易原创</span>
                <div class="right-info">
                    <span>21.6万人参与</span>
                    <a href="#">正在直播</a>
                    <i class="icon"></i>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>