<ion-view hide-tabs>
    <ion-header-bar class="bar-assertive">

        <div class="buttons">
            <button class="button button-clear icon ion-android-arrow-back " ng-click="goBack();">

            </button>


            <button class="button button-clear icon">
                搜索
            </button>
        </div>


    </ion-header-bar>
    <ion-content padding="true" class="gray-bg" >
        <ion-list>


                <label class=" item-input search-box">
                    <input type="text" placeholder="请输入关键字...">
                </label>
                <div class="more-news">
                    <span>阅读历史</span>
                    <a href="#" class="moreNews">更多</a>
                </div>
                <div class="news-content">
                    <p>9月深圳又有这么多大事发生，每一件都与你有关!</p>
                    <p>舒淇徐锦江假戏真做，导演喊停还继续</p>

                </div>
            <div class="more-news">
                <span>近期热词</span>
            </div>


            <div class="hotWords">
                <button class="button">
                意大利地震
                </button><button class="button button-light">
                日本自卫队实弹演习
                </button><button class="button button-stable">
                张怡宁母女国乒聚会
                </button><button class="button button-positive">
                男童遇害18年未下葬
                </button><button class="button button-calm">
                中国飞人
                </button><button class="button button-balanced">
                郭敬明怒斥乐视
                </button><button class="button button-energized">
                芬兰试行基本收入
                </button><button class="button button-assertive">
                男子术后双肾全无
                </button>
            </div>
        </ion-list>


    </ion-content>
</ion-view>