<ion-view title="直播">
    <ion-header-bar class="bar-assertive ">
        <div class="live-tab">
            <a href="#/tab/lives" class="active">
                视频
            </a>
            <a href="#/tab/video">
                直播
            </a>
        </div>

    </ion-header-bar>

    <ion-content class="padding">
        <div class="wrap">
            <dl class="video-wrap">
                <dt>
                    <img src="img/mike.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/mike.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
            <dl class="video-wrap">
                <dt>
                    <img src="img/max.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/max.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="wrap">
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="wrap">
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="wrap">
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="wrap">
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
            <dl class="video-wrap">
                <dt>
                    <img src="img/perry.png" alt="video">
                </dt>
                <dd>
                    <h3>美国警察的执法风格，简直不忍直视</h3>
                    <div class="down">
                        <span><img src="img/perry.png" alt=""></span>
                        <i>直播之声</i>
                    </div>
                </dd>
            </dl>
        </div>
    </ion-content>

</ion-view>