<ion-view>
    <!--页面顶部的按钮-->
    <ion-header-bar class="bar-assertive">
        <div class="buttons">
            <img class="logo" src="img/images/logo.png" alt="">
        </div>
        <div class="buttons">
            <img class="new-search" src="img/images/akb.png" alt="">

        </div>
        <div class="buttons">
            <img class="lives-icon" src="img/images/a6u.png" alt="">
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <!--<h2 class="title">Sub Header</h2>-->
        <ion-scroll scrollbar-x="false" scrollbar-y="false" direction="x">
            <div class="button-bar sub-button-bar">
                <a class="button button-clear">头条</a>
                <a class="button button-clear">精选</a>
                <a class="button button-clear">娱乐</a>
                <a class="button button-clear">体育</a>
                <a class="button button-clear">网易号</a>
                <a class="button button-clear">深圳</a>
                <a class="button button-clear">视频</a>
                <a class="button button-clear">财经</a>
                <a class="button button-clear">科技</a>
                <a class="button button-clear">汽车</a>

            </div>

        </ion-scroll>
        <div class="drop-tag"></div>
    </div>


    <!--<ion-nav-buttons side="left">-->
    <!--<img src="img/images/logo.png" alt="logo">-->
    <!--</ion-nav-buttons>-->
    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear">-->
    <!--<img class="new-search" src="img/images/akb.png" alt="logo">-->
    <!--</button>-->
    <!--<button class="button button-clear">-->
    <!--<img class="lives-icon" src="img/images/a6u.png" alt="logo">-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->





    <ion-content class="has-subheader">
        <!--页面导航栏-->

        新闻
    </ion-content>

</ion-view>