<ion-tabs class="tabs-icon-top tab tabs-color-active-assertive">

    <!-- news Tab -->
    <ion-tab title="新闻" icon="ion-android-list"  href="#/tab/news">
        <ion-nav-view name="tab-news">

        </ion-nav-view>
    </ion-tab>

    <!-- live Tab -->
    <ion-tab title="直播" icon="ion-social-youtube" href="#/tab/lives">
        <ion-nav-view name="tab-lives">
        </ion-nav-view>
    </ion-tab>

    <!-- chats tab -->
    <ion-tab title="话题" icon="ion-chatbubble-working"  href="#/tab/chats">
        <ion-nav-view name="tab-chats">
        </ion-nav-view>
    </ion-tab>

    <!-- me tab -->
    <ion-tab title="我" icon="ion-android-contact"  href="#/tab/me">
        <ion-nav-view name="tab-me">

        </ion-nav-view>
    </ion-tab>

</ion-tabs>